<div class="container">

  <h3><%= @idea.title %></h3>
  <h6>Created by:  <%= @idea.user.first_name %></h6>
  <p><%= @idea.body %></p>


  <% if can? :edit, @idea %>
    <%= link_to "Edit", edit_idea_path(@idea), class: "btn btn-default" %>
  <% end %>
  <% if can? :destroy, @idea %>
    <%= link_to 'Delete', idea_path(@idea),
                            method: :delete,
                            data:{confirm: 'Are you sure?'}, class: "btn btn-default" %>
  <% end %>

  <br><br><br><br>

  <div class="well">
    <h4>Submit your review </h4>
    <%= @review.errors.full_messages.join(', ') %>
    <%= bootstrap_form_for [@idea, @review] do |f| %>
      <%= f.text_area :body %>
      <%= f.submit 'Submit', class: "btn btn-success" %>
    <% end %>
  </div>
  <hr>

  <% @idea.reviews.each do |review| %>
      <%= review.body %>
      <% if review.is_flagged %>
        <span><i class="fa fa-flag" aria-hidden="true"></i></span>
      <% end %>
      <% if can? :destroy, review %>
        <%= link_to 'Delete your review', [@idea, review],
          method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger pull-right" %>
      <% end %>
      <% if can? :flag, review %>
        <%= link_to (review.is_flagged ? 'Unflag' : 'Flag'), [@idea, review],
          method: :put, class: "btn btn-info pull-right flag-button" %>
      <% end %>
    <h6>Created by:  <%= review.user.first_name %></h6>
    <hr>
  <% end %>
</div>
